<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Vivek Vashistha is a Senior Tech Consultant having over 10 years of experience, specialised in Software Architecting and Developing Mobile Apps with intense leadership and management skills</p>
      </div>
      <div class="col-lg-4">
        <p>He has developed over dozens of applications in trending domains such as E-Commerce, Mobile Games and Enterprise apps and gained diverse skillset which covers both front-end and backend landscape.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.linkedin.com/in/vkvashistha" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Show Resume
        </a>
      </div>
    </div>
  </div>
</section>
